@import "./variables";

.content {
  width: 100vw;
  height: auto;
}

.cards {
  width: 90vw;
  height: auto;
  display: flex;
  margin: auto;
  position: absolute;
  justify-content: space-around;
  flex-wrap: wrap;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
}
.hermLocation,
.madLocation {
  background-color: #0f1417;
  opacity: 0.8;
  text-align: center;
  z-index: 100;
  box-shadow: 0px 1px 20px -3px $blue;
  padding: 20px;
  margin: 5px;
  width: 80vw;
  height: auto;
  border-radius: 2px;
}
.location {
  color: #dcdae8;
  border-bottom: 0.5px solid $pink;
  font-family: $primary-font;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 30px;
}

h3,
p {
  color: white;
  font-family: $secondary-font;
  text-align: center;
}
h3 {
  text-decoration: underline $blue;
  &:last-child {
    border: none;
  }
}

.phoneContainer {
  margin-top: 50px;
}
.phone {
  font-family: $primary-font;
  text-decoration: none;
  color: $white;
  font-size: 1.2rem;
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .hermLocation,
  .madLocation {
    width: 30vw;
  }
}
