body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0f1417;
  // background-image: url("../src/assets/wild-vibes-1RnPg7tET_s-unsplash.jpg");
  // background-size: 80vmax;
  // background-position: right top;
  // background-repeat: no-repeat;
}
